/* font-family: 'Anton', sans-serif;
font-family: 'Arimo', sans-serif; 
$c1 = #1e232b   
$c2 = #b7cced   
$c3 = #eddbb7   
$c4 = #ff6b00 */

/* STYLE DU CONTAINER */

body, div.container {
    height: 100vh;
    max-height: 100%;
    background-color: #1e232b;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}
div.container {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    max-width: 80%;
    margin:auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}
header #main-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
header h1 {
    color: #eddbb7;
    border-bottom: 2px solid #ff6b00;
    font-size: 5em;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
header h2 {
    color: #b7cced;
    font-size: 2em;
}

/* ZONE DE TEXTE */
.zoneText  {
    border:none;
    width: 100%;
    height: 100px;
    color:#eddbb7;
    font-family: 'Arimo', sans-serif;
    background-color: #1e232b;
    font-size: 1.3rem;
}

/* LANGUE SETUP */
.lang-setup {
    color: #eddbb7;
    position: absolute;
    top: -70px;
    left: 10px;
}
.lang-setup input:focus {
    background-color: #ff6b00;
}

/* The container */
.lang-setup label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/* Hide the browser's default radio button */
.lang-setup label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #1e232b;
    border-radius: 50%;
    border:2px solid #eddbb7;
}

/* On mouse-over, add a grey background color */
.lang-setup label:hover input ~ .checkmark {
    background-color: #ff6b00;
}

/* When the radio button is checked, add a blue background */
.lang-setup label input:checked ~ .checkmark {
    background-color: #1e232b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.lang-setup label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.lang-setup label .checkmark:after {
    top: 8.5px;
    left: 8.5px;
    width: 8.5px;
    height: 8.5px;
    border-radius: 50%;
    background: #eddbb7;
}


/* STYLES GENERIQUES DES TOUCHES */
#clavier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
#clavier section {
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#clavier section input:not(:last-of-type),
#clavier a:not(:last-of-type) {
    margin-right: 10px;
}
#clavier input,
#clavier button,
#clavier a {
    font-family:'Anton', sans-serif;
    font-size: 1.7em;
    background-color: #eddbb7;
    border:none;
    border-radius:3px;
    width: 100px;
    height:70px;
    cursor: pointer;
}
#clavier input.larger, 
span.larger {
    width: 150px;
}
/* STYLE PERSONNALISATIONS TOUCHES */

/* Supprimer */
section #supprimer {
    background-image: url('../img/left-back-straight-arrow.svg');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
}

/* Nightshift */
section #nightshift {
    background-image: url('../img/moon.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

/* Carac spé 1/2 */
section #caracspe {
    font-size: 1.8em;
}

/* Capslock */
section #LED {
    position: relative;
    margin-right: 10px;
    padding:0;
    width: 170px;
    text-transform: uppercase;
}
section #LED::after {
    content:"";
    background-color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    width:10px;
    height: 10px;
    border-radius: 10px;
    pointer-events: none;
}
section #LED.focused::after {
    background-color: #ff6b00;
}



/* Entrée */
section #entree {
    background-image: url('../img/enter-arrow.svg');
    background-repeat: no-repeat;
    background-size:45px;
    background-position: center;
}

/* Shift */
section #shift {
    background-image: url('../img/shift.svg');
    background-repeat: no-repeat;
    background-size:35px;
    background-position: center;
}

/* Chevrons */
section #chevrons {
    text-align: center;
    font-size: 2em;
}

/* Github */
section #github {
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size:40px;
    background-position: center;
}

/* Space */
section .space-symbol {
    position: relative;
}
section .space-symbol::after {
    content:"[";
    color: black;
    font-size: 40px;
    position: absolute;
    top:calc(50% - 15px);
    right:calc(50% - 20px);
    transform: rotate(270deg);
    text-align: justify;
    vertical-align: center;
}

section #space {
    width: 600px;
    margin-right: 10px;
}

/* portfolio */
section #portfolio {
    background-image: url('../img/world-wide-web.svg');
    background-repeat: no-repeat;
    background-size:40px;
    background-position: center;
}

/* FOOTER */
Footer {
    text-align: center;
    color:#ff6b00
}